<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/paper/a4.css">
</head>

<body>
{{content | safe}}
</body>

</html>